body {
  display: flex;
  justify-content: center;
  background-color: white;
}

Img {
  width: 270px;
  height: 170px;
  margin-left: 40px;
}

.form {
  background-color: white;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  gap: 20px;
  width: 350px;
  align-items: stretch;
}

.text-instruction {
  color: grey;
  text-align: center;
  font-size: 14px;
  margin-left: 12px;
  margin-bottom: 14px;
  margin-top: -22px;
}

.input-wrapper {
  display: flex;
  align-items: left;
  margin-top: 10px;
  border-bottom: 3px solid #41c0f3;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  height: 62px;
}
.inputs {
  margin-bottom: 12px;
}

input {
  border: none;
  height: 44px;
  width: 120%;
}

input::placeholder {
  color: #0576a7;
  font-weight: bold;
  font-size: 18px;
}

.jpg {
  width: 220px;
  height: 150px;
  margin-left: 10px;
}

svg {
  color: #41c0f3;
  margin-right: 15px;
  padding-top: 15px;
  display: flex;
}

a {
  text-align: end;
  color: #41c0f3;
  font-size: 12px;
  text-decoration: none;
  margin-top: 10px;
}

button {
  font-weight: bold;
  color: white;
  border: none;
  margin-top: 10px;
  height: 42px;
  width: 350px;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgba(65, 192, 243, 1) 0%,
    rgba(19, 181, 117, 1) 100%
  );
}
//MailSended alert customize

.custom-button {
  display: flex;
  width: 240px !important;
  height: 45px !important;
  border-radius: 6px !important;
  font-size: 18px !important;
  background-color: #00d4ff !important;
  border: 1px white solid !important;
}

.custom-text {
  color: white !important;
}
